@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;
    transition: 0.5s;
}

.content {
    background-color: #a27dee;
    padding: 100px 50px;
    color: #09002f;
}

.content h2 {
    font-size: 42px;
}

.section-Top {
    position: relative;
    width: 100%;
    height: 700px;
    object-fit: cover;
    background: linear-gradient(to top, #a27dee, #09002f);
    overflow: hidden;
    pointer-events: none;
}

.section-Top::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #a27dee, transparent);
    z-index: 100;
}

.section-Top img {
    position: absolute;
}

#zaamin {
    width: 100%;
    bottom: 0;
    z-index: 12;
}

#pyramid {
    right: 0;
    width: 50vw;
    bottom: 80px;
    z-index: 11;
}

#cover {
    width: 100%;
    bottom: 0;
    z-index: 10;
}

#stone {
    width: 100%;
    right: 0;
    bottom: 30px;
    z-index: 9;
}

#bottom_cloud {
    right: 220px;
    bottom: 200px;
}

#right_cloud {
    right: -180px;
    top: 100px;
}

#left_cloud {
    left: -70px;
    top: 250px;
    z-index: 4;
}

#moon {
    top: 120px;
    left: -80px;
    mix-blend-mode: screen;
    z-index: 3;
}

#text {
    left: 0;
    mix-blend-mode: screen;
}

#stars {
    width: 100%;
}

@media (max-width: 767px) {
    #text {
        left: -100px !important;
    }
}

@media (max-width: 576px) {
    #text {
        left: -250px !important;
        z-index: 10;
    }
}

.section-Bottom {
    margin: 12% 10%;
    display: flex;
    align-items: center;
    font-family: "Arial Black", sans-serif;
    color: #fff;
    cursor: default;
    justify-content: space-around;
}

.section-Bottom h2 {
    font-size: 2em;
    margin: 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards 0.4s;
    -webkit-text-stroke: 2px white;
    color: transparent;
    transition: .5s;
}

.section-Bottom h3 {
    opacity: 0;
    animation: slideRight 0.5s ease forwards;
    animation-delay: calc(.1s * var(--i))
}

.section-Bottom p {
    font-size: 0.9em;
    opacity: 0;
    animation: slideTop 1s ease forwards 0.8s;
}

.section-Bottom img {
    max-width: 300px;
    max-height: 300px;
    opacity: 0;
    animation: slideTop 1s ease forwards 0.3s;
}

.section-Bottom .img {
    animation: animate 5s ease-in-out infinite 3s;
}

.section-Bottom span a {
    color: #0ef;
    text-decoration: none;
    transition: .5s;
}

.section-Bottom span a:hover {
    text-shadow: 0 0 40px #fff;
    color: white;
}

.portfolio-placeholder {
    height: 1000px;
}

.Portfolio-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10% 0 10%;
}

.sticky-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10% 0 10%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.sticky-content {
  margin-top: 100px;
  overflow-y: auto;
  height: calc(100vh - 100px);
}


.Portfolio-Header h1 {
    -webkit-text-stroke: 2px white;
    color: transparent;
    cursor: default;
    font-size: 2.1em;
    transition: 1s;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.Portfolio-Header h1:hover {
    color: white;
    text-shadow: 0 0 40px white;
}

.sticky-Header h1 {
    -webkit-text-stroke: 2px white;
    color: transparent;
    cursor: default;
    font-size: 2.1em;
    transition: 1s;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.sticky-Header h1:hover {
    color: white;
    text-shadow: 0 0 40px white;
}

.navbar button {
    display: inline-block;
    margin-left: 30px;
    text-decoration: none;
    font-size: 1.2em;
    transition: .5s;
    cursor: pointer;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    background: none;
    border: none;
}

.navbar button:hover,
.navbar .active {
    color: #6bdcff;
}

.navbar a:hover {
    text-shadow: 0 0 40px #9ee8ff;
}

@keyframes slideTop {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes animate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideBottom {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}


.fake-magicwall {
    background-color: rgba(255, 255, 255, 0.1);
}

.fake-magicwall ul {
    list-style: none;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    flex-wrap: wrap;
}

.fake-magicwall ul li {
    width: 161px;
    height: 160px;
    position: relative;
    overflow: hidden;
    display: list-item;
}

.fake-magicwall .magic-wall_item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.fake-magicwall img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fake-magicwall ul li:hover .magic-wall_item {
    transform: scale(1.14);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.14);
}

.fake-magicwall ul li a.colorbox {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
    transform: scale(0.2);
}

.fake-magicwall ul li:hover a.colorbox {
    transform: scale(0.6);
    opacity: 1;
}

.fake-magicwall {
    padding-left: 8.5rem;
}

.fake-magicwall ul li {
    width: 242px;
    height: 236px;
}

.text-zone3 p {
    margin-bottom: 15px;
    line-height: 1.5rem;
}

.text-zone3 #header {
    width: 500px;
    font-size: 3rem;
}

.text-zone3 p {
    width: 400px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
    padding-left : 0px;
}

.form-horizontal {
  /*float: left;*/
    margin-right: 60px;
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control,
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.direct-contact-container {
  max-width: 400px;
}

.contact-list {
  list-style-type: none;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.hr-line {
  border-color: rgba(255,255,255,.6);
}